.form-group {
  display: flex;
  flex-direction: column;

  .help-text {
    color: rgba(white, 0.6);

    a {
      text-decoration: underline;
    }
  }

  label + .help-text {
    margin: -0.5em 0 0.5em;
  }

  > label {
    margin-bottom: 5px;
    line-height: 1.3;

    .icon-info-circle {
      margin-left: 2px;
      line-height: 0;
      top: 1px;
      position: relative;
      opacity: 0.3;
      transition: opacity 0.2s $easeOutExpo;
      cursor: help;

      &:hover {
        opacity: 1;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-control {
  padding: 8px 8px;
  background-color: white;
  border-radius: 2px;
  border: 0;
  width: calc(100% - 16px);
  letter-spacing: -0.5px;
  min-width: 0;
  font-size: 1em;
  margin: 0;
}

.input-group {
  display: flex;

  > .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  > .checkbox-control {
    align-items: stretch;

    > div {
      height: 100%;
      padding: 0 1.25em;
      width: auto;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.checkbox-control {
  display: flex;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  margin-right: auto;

  + .settings-chart__sub-settings {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1.5em;
      width: 2px;
      background-color: rgba(white, 0.2);
    }
  }

  input {
    display: none;

    &:checked {
      ~ div {
        background-color: $green;

        &:before,
        &:after {
          transition: all 0.5s $easeOutExpo;
        }

        &:before {
          opacity: 1;
          transform: none;
        }

        &:after {
          opacity: 0;
          transform: translateY(50%) skewY(20deg);
        }
      }
    }
  }

  > div {
    padding: 0.5em;
    width: 1em;
    height: 1em;
    border-radius: 2px;
    background-color: rgba(white, 0.2);
    transition: all 0.2s $easeOutExpo;
    position: relative;
    flex-shrink: 0;

    &:before,
    &:after {
      font-family: 'icon';
      font-size: 1em;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      transform: translateY(-50%) skewY(-20deg);
      opacity: 0;
      transition: all 0.2s $easeOutExpo;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      pointer-events: none;
    }

    &:not([class^='icon-']):before {
      content: unicode($icon-check);
    }

    &:after {
      transform: none;
      opacity: 1;
    }
  }

  > span {
    line-height: 1;
  }

  div + span {
    margin-left: 5px;
  }

  span + div {
    margin-left: 5px;
  }

  &.checkbox-control-input {
    > div {
      padding: 0.8em;
    }
  }

  &.-luminosity {
    input {
      ~ div {
        background-color: $blue;

        &:before {
          content: unicode($icon-day);
        }

        &:after {
          content: unicode($icon-night);
        }
      }

      &:checked ~ div {
        background-color: $green;
      }
    }
  }

  &.-on-off input ~ div {
    &:before {
      content: unicode($icon-power-on);
    }

    &:after {
      content: unicode($icon-power-off);
    }
  }

  &.-auto input {
    ~ div {
      width: auto;
      display: flex;

      &:before,
      &:after {
        font-family: inherit;
        position: relative;
        line-height: 1;
        order: 0;
      }

      i {
        order: 1;
        top: 0;
      }

      &:before {
        content: attr(on);
        display: none;
      }

      &:after {
        content: attr(off);
      }
    }

    &:checked ~ div {
      &:before {
        display: block;
      }

      &:after {
        display: none;
      }
    }
  }

  &.-cml-abs input {
    ~ div {
      &:before,
      &:after {
        font-family: inherit;
      }

      &:before {
        content: 'CML';
      }

      &:after {
        content: 'ABS';
      }
    }

    &:not(:checked) ~ div {
      background-color: $blue;
    }
  }
}