.modal {
  position: fixed;
  background-color: rgba(black, .2);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  &__wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    max-width: 50%;
    max-height: 75%;
    overflow: auto;
    background-color: lighten($dark, 18%);
  }
}

.modal-header {
  display: flex;

  &__title {
    flex-grow: 1;
    padding: 1rem;
    line-height: 1
  }

  &__actions {
    button {
      -webkit-appearance: none;
      border: 0;
      height: 100%;
      padding: 1em;
      line-height: 1;
      font-size: 1em;
      background-color: transparent;
      color: white;
      transition: background-color .2s $easeOutExpo;
      cursor: pointer;

      &:hover {
        background-color: rgba(white, .2)
      }
    }
  }
}

.modal-content {
  padding: 0 1rem 1rem;
  font-size: 12px;
}

.modal-footer {
  padding: 0 1rem 1rem;
  display: flex;
  justify-items: flex-end;
}