.app .vc-chrome {
  position: absolute;
  z-index: 1;
  box-shadow: 0;
  display: flex;
  flex-direction: column;
  height: 250px;
  bottom: 0;
  flex-grow: 1;
  background: transparent;
  transition: all 0.2s $easeOutExpo;

  .vc-input__input {
    background: none;
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    box-shadow: none;
  }

  .vc-chrome-body {
    border-radius: 0 0 2px 2px;
    background: lighten($dark, 18%) !important;
  }

  .vc-chrome-saturation-wrap {
    flex-grow: 1;
    padding: 0;
    border-radius: 2px 2px 0 0;
  }

  .vc-chrome-toggle-icon-highlight {
    background-color: rgba(black, 0.2);
  }

  .vc-chrome-toggle-icon {
    path {
      fill: white;
    }
  }

  &,
  .vc-chrome-body {
    box-shadow: none;
  }
}

@keyframes picker-in {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}